[route]{
  cursor: pointer;
}

.centre-all{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre-all-row{
  .centre-all;
  flex-direction: row;
}

.centre-all-column{
  .centre-all;
  flex-direction: column;
}

.adhara-dialog{
  .modal-title{
    float: left;
  }
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adhara-template-button{
  margin: 1.2em 5px 1.2em 0;
}