<div class="{{containerClass}} row">
    {{#each rows as |row index|}}
        <div class="{{../cardSizeClass}}">
            <div class="card-md animated card-content-wrapper">
            {{include ../itemTemplate row}}
            </div>
        </div>
    {{/each}}
</div>