<div class="{{containerClass}} row">
    {{#each data as |datum index|}}
        <div class="{{../cardSizeClass}}">
            <div class="card-md animated card-content-wrapper">
            {{include ../itemTemplate datum}}
            </div>
        </div>
    {{/each}}
</div>