<div id="adharaTable_{{title}}" class="adhara-table-container">
    <div>
        <h3>{{title}}</h3>
    </div>
    {{#if add_new}}
    <div>
        <button class="btn btn-sm btn-primary">Add new {{config.title}}</button>
    </div>
    {{/if}}
    <div class="adhara-list-wrapper">
        {{include listTemplate}}
    </div>
    <div class="adhara-table-nav pull-right">
    {{#if config.nav}}
        <button style="display: inline-block; margin: 0 2px;" class="btn btn-sm btn-link">previous</button>
        <button style="display: inline-block; margin: 0 2px;" class="btn btn-sm btn-link">next</button>
    {{/if}}
    </div>
</div>