<div id="adharaTable_{{title}}" class="adhara-table-container">
    {{#if title}}
    <div>
        <h3>{{title}}</h3>
    </div>
    {{/if}}
    {{#if addNew}}
        <div>
            <button class="btn btn-sm btn-primary">Add new {{title}}</button>
        </div>
    {{/if}}
    <div class="adhara-list-wrapper">
        {{include listTemplate this}}
    </div>
    {{#if isPaginationRequired}}
        <div class="adhara-table-nav pull-right">
            <button style="display: inline-block; margin: 0 2px;" class="btn btn-sm btn-link">previous</button>
            <button style="display: inline-block; margin: 0 2px;" class="btn btn-sm btn-link">next</button>

        </div>
    {{/if}}
</div>